.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.chat-fullscreen {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 998;
}

.chat-window {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 80px;
  right: 20px;
  width: 450px;
  height: 650px;
  max-height: calc(99vh - 80px);
  background-color: white;
  /* border: 1px solid #ccc; */
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  opacity: 0;
  z-index: 999;
}

.chat-window-fullscreen {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  opacity: 0;
  z-index: 999;
}

.close {
  opacity: 0;
  visibility: hidden;
}

.open {
  opacity: 1;
  visibility: visible;
}
